.title-talk {
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 66px;
  font-weight: bold;
  line-height: 1.25;
}

.title-speaker {
  position: absolute;
  top: 470px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 52px;
}

.title-event {
  position: absolute;
  top: 580px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 40px;
}

.title-logos {
  position: absolute;
  top: 790px;
  left: 0;
  right: 0;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
}

.title-logo-ias {
  height: 100px;
}

.title-logo-croucher {
  height: 190px;
}
