.gw-ring-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.gw-ring-merger-bbh {
  position: absolute;
  left: 200px;
  top: 10px;
  width: 720px;
  height: 720px;
}
