.preface-lines {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 48px;
}

.preface-lines p {
  margin: 30px 0;
}

.preface-ongoing {
  color: #d00000;
  font-weight: bold;
}
